html{
    background-color: #0353A4;
}

.indexcontainer{
    display: flex;
    align-items: stretch;
}

.indexpictures{
    max-width: 50%;
}

.indeximage{
    max-width: 100%;
    max-height: 100%;
}

.credentialcontainer{
    background-color: #FFE8D1;
    padding: 5%;
    margin: auto;
    align-content: center;
    border-style: inset;
    border-color: #FDD9B5;
    border-width: 5px;
    max-width: 50%;
    /* max-height: 45%; */
}

.logo{
    display: flex;
    flex-direction: row;
}

.loginlaunch{
    /* max-width: 50%; */
    /* margin: 10% 40%; */
    background-color: #006DAA;
}

.modal {
    display: none; /* Hidden by default */
    position: center; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width:70%; /* Full width */
    height: 51%; /* Full height */
    max-height: 51%;
    margin: auto;

    /* overflow: auto; Enable scroll if needed */
    background-color: rgb(255, 251, 251); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.178); /* Black w/ opacity */
    /* padding-top: 60px; */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.loginform{
    max-height: 61%;
}

/* The Close Button */
.close {
/* Position it in the top right corner outside of the modal */
    position: relative;
    left: 85%;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
    button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 0%;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.iconcontainer {
    text-align: center;
    margin: 8px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

.loginissues{
    padding: 5px;
}

.logincontainer{
    padding: 5px 0px;
    margin: 10px 10px 0px 10px;
}

/* Add padding to containers */
/* .container {
    padding: 16px;
} */

.cancelcontainer{
    padding: 0px 8px 8px 8px;
    max-width: 80%;
}

/* The "Forgot password" text */
span.psw {
    float: left;
    padding: 5px;
    /* padding-top: 16px; */
}

.loginbutton{
    background-color: #006DAA;
}

.optionsContainer{
    display: flex;
    flex-direction: column;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
    display: block;
    float: none;
}
.cancelbtn {
    width: 100%;
}
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
    }
    
    @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
    }
    
    @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
    }
    